<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4 d-flex flex-column align-items-center">
    <!-- Form thêm dữ liệu -->
    <h1 class="text-center font-weight-bold mb-3">ADD NEW DATA</h1>
    <form class="w-50" action="/save" method="post">
        <input type="text" class="border form-control mb-4" name="id" placeholder="Enter ID.." required/>
        <input type="text" class="border form-control mb-4" name="name" placeholder="Enter name.. " required/>
        <input type="text" class="border form-control mb-4" name="course_type" placeholder="Enter Course type.." required/>
        <input type="text" class="border form-control mb-4" name="semester" placeholder="Enter Semester.." required/>
        <input type="text" class="border form-control mb-4" name="department" placeholder="Enter Department.." required/>
        <button type="submit" class="btn-outline-primary btn">Add new data</button>
    </form>

    <!-- Table hiển thị danh sách -->
    <h1 class="text-center mt-5 mb-3 font-weight-bold">COURSE LIST</h1>
    <table class="table table-hover" id="course-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Course Type</th>
                <th>Semester</th>
                <th>Department</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach(item => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.course_type %></td>
                    <td><%= item.semester %></td>
                    <td><%= item.department %></td>
                        <td>
                            <form action="/delete" method="POST" style="display: inline;">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
